[Unit]
Description=Load Solaredge data to influx

[Service]
User=%I
Restart=always
RestartSec=3600s
ExecStart=/bin/bash /usr/scrapper/solaredge_to_influx.py